body {
    font-family: "Lucida Console";
    margin-top: 250px;
    text-align: center;
    text-shadow:1px 1px #000000, -1px -1px #000000,
                -1px 1px #000000, 1px -1px #000000;
    color: white;

}
#clock {
    font-weight: normal;
    font-size: 151px;
}
#color {
    font-weight: normal;
    font-size: 50px
}
